<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
  <title>Pet Adoption Center!</title>
  </head>
  <body>
    <div class="conatiner">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
