<h3>Add a pet:</h3>
<form class="pet_form" action="/new" method="post">
  <label for="pet_name">Pet Name</label>
  <input type="text" name="pet_name" id="pet_name">
  <label for="age">Pet Age</label>
  <input type="number" name="age" id="age">
  <select  name="animal">
    <option>Gerbil</option>
    <option>Capybara</option>
    <option>Snake</option>
    <option>Horse</option>
    <option>Turtle</option>
    <option>Dog</option>
  </select>
  <button type="submit">Submit</button>
</form>
